@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.columnNameArea {
  background-color: blueviolet;
  border: 1px white solid;

  display: flex;

  min-width: 250px;
  max-width: 350px;
}

.columnName {
  width: 100%;
  display: block;
  text-align: center;
  padding: 8px;
  font-weight: 400;
  font-family: 'Roboto';
}

.columnArea {
  border-right: 1px black solid;
  /* overflow-y: scroll; */
}
